.right-section {
  flex: 2;
  padding: 25px 25px 15px 10px;
}

.profile {
  background: #fff;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  box-shadow: 0 2px 6px rgba(136, 148, 171, 0.2),
    0 24px 20px -24px rgba(71, 82, 107, 0.1);
}

.profile .info {
  display: flex;
  align-items: center;
  gap: 14px;
}

.profile .info img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
}

.profile .info .account h5 {
  font-size: 15px;
  margin-bottom: 4px;
  cursor: pointer;
}

.profile .info .account p {
  font-size: 13px;
  color: #999;
}

.profile > i {
  font-size: 24px;
  color: #364670;
  cursor: pointer;
}

.widgets {
  display: flex;
  flex-direction: column;
}

.disk {
  background: #fff;
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 300px;
  padding: 0 25px;
  border-radius: 16px;
  box-shadow: 0 2px 6px rgba(136, 148, 171, 0.2),
    0 24px 20px -24px rgba(71, 82, 107, 0.1);
}

.disk .progress {
  display: flex;
  justify-content: center;
}

.disk .progress .progress-bar {
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2px;
  margin-top: 20px;
  border-radius: 50%;
  position: relative;
}

.progress-text {
  font-size: 22px;
  font-weight: bold;
  color: #364670;
}

.progress-subtext {
  font-size: 13px;
  color: #999;
}

.disk .info h5 {
  color: #999;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 10px;
}

.disk h5 span {
  color: #364670;
}

.disk .info p {
  font-size: 14px;
  color: #999;
  font-weight: 500;
}

.bottom {
  display: flex;
  flex-direction: column;
}

.upload-btn {
  border: none;
  background: #1976d2;
  color: #fff;
  margin: 30px 0;
  font-size: 20px;
  padding: 14px;
  border-radius: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.upload-btn:hover {
  background: #0d47a1;
}

.premium {
  background: #fff;
  padding: 25px;
  height: 150px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 16px;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(136, 148, 171, 0.2),
    0 24px 20px -24px rgba(71, 82, 107, 0.1);
  transition: all 0.3s ease;
}

.premium:hover {
  box-shadow: none;
  border-color: #999;
}

.premium .title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.premium .title h5 {
  font-size: 20px;
  font-weight: 500;
}

.premium .title i {
  font-size: 30px;
  padding: 10px;
  background: #1976d2;
  color: #fff;
  border-radius: 14px;
}

.premium p {
  color: #999;
  font-size: 16px;
  line-height: 1.4rem;
}

@media screen and (max-width: 1230px) {
  .disk {
    height: 270px;
  }

  .disk .progress .progress-bar {
    width: 120px;
    height: 120px;
  }

  .disk .info h5 {
    font-size: 18px;
  }

  .upload-btn {
    font-size: 17px;
    padding: 12px;
  }

  .premium .title h5 {
    font-size: 17px;
  }

  .premium .title i {
    font-size: 26px;
  }

  .premium p {
    font-size: 14px;
  }
}

@media screen and (max-width: 992px) {
  .right-section {
    padding: 15px;
  }
}

@media screen and (max-width: 768px) {
  .profile {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 94%;
  }

  .widgets {
    flex-direction: row;
    gap: 30px;
  }

  .disk {
    width: 48%;
  }

  .bottom {
    justify-content: center;
    gap: 30px;
  }

  .upload-btn {
    margin: 0;
  }
}

@media screen and (max-width: 576px) {
  .profile {
    width: 94%;
  }

  .disk .info h5 {
    font-size: 14px;
  }

  .disk .info p {
    font-size: 13px;
  }
}
